[submodule "third_party/thrift/upstream"]
	path = third_party/thrift/upstream
	url = https://github.com/apache/thrift.git
[submodule "third_party/libevent/upstream"]
	path = third_party/libevent/upstream
	url = https://github.com/libevent/libevent.git
